/* src/Table.css */
.table-container {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dcbbbb;
    padding: 8px;
  }
  
  th {
    background-color: #192a46;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #434851;
  }
  
  tr:hover {
    background-color: #316a98;
  }
  
  th, td {
    text-align: center;
  }
  